@page "/Reports/{TaskId}"
@using Blazorise.Extensions
@using Newtonsoft.Json
@implements IDisposable
@inject NavigationManager NavigationManager

<Breadcrumb>
    <BreadcrumbItem>
        <BreadcrumbLink To="/reports">Reports</BreadcrumbLink>
    </BreadcrumbItem>
    <BreadcrumbItem Active>
        <BreadcrumbLink To="#">JobTask</BreadcrumbLink>
    </BreadcrumbItem>
</Breadcrumb>

@if (ScanTask == null || TaskId.IsNullOrEmpty())
{
    <h1>No Job Found</h1>
    <Button>Go Back</Button>
}
else
{
    @if(ScanTask.IsCompleted)
    {
        <Card Class="p-3">
            <DisplayGroup>
                <DisplayInfo Label="Completed:">@(ScanTask.IsCompleted ? "Yes" : "No")</DisplayInfo>
                <DisplayInfo Label="Error Detected:">@(ScanTask.IsCompleted ? "Yes" : "No")</DisplayInfo>
                <DisplayInfo Label="Time Taken:">@(ScanTask.TimeTaken.TotalMilliseconds / 1000)s</DisplayInfo>
                @if (ScanTask.Result != null)
                {
                    <DisplayInfo Label="Tokens Consumed:">@ScanTask.Result.TokenConsumed</DisplayInfo>
                    <DisplayInfo Label="Using Free Tokens:">@(ScanTask.Result.UsingSiteToken ? "Yes" : "No")</DisplayInfo>
                    <DisplayInfo Label="Total Receipts Found in Image:">@ScanTask.Result.Receipts.Count</DisplayInfo>
                }
            </DisplayGroup>
            

            @if (ScanTask.Result != null)
            {
                @for (var index = 0; index < ScanTask.Result.Receipts.Count; index++)
                {
                
                    var currentIndex = index;
                    var receipt = ScanTask.Result.Receipts[currentIndex];
                    <div class="pb-3 w-[96%] align-middle mx-auto">
                        <Button Block Color="Color.Success" Clicked="() => GoToReceipt(currentIndex)"> View Receipt No.@(currentIndex+1) [RM @receipt.TotalPrice] </Button>
                    </div>
                
                }
            }
        </Card>
    }
    else
    {
        <div class="flex flex-col justify-center items-center">
            <img src="https://walfiegif.files.wordpress.com/2023/07/out-transparent-40.gif" alt="Loading" style="width:100px;">
            <div>
                <Paragraph TextColor="TextColor.White">
                    Your Receipt is processing...
                </Paragraph>
            </div>
        </div>
       
       
    }
    
}

@code {
    [Parameter] public string TaskId { get; set; } = "";

    private ScanTask? ScanTask { get; set; }
    private string Json { get; set; } = "";

    protected override void OnInitialized()
    {
        ScanTask = RezApi.Jobs.GetJob(TaskId);
        if (ScanTask != null)
        {
            ScanTask.OnComplete += OnComplete;
            ScanTask.OnError += OnError;;
        }

        Json = JsonConvert.SerializeObject(ScanTask, Formatting.Indented);
    }

    private void OnError(object? sender, Exception e)
    {
        Console.WriteLine("ON ERROR");
        Console.WriteLine(e);
    }

    private void OnComplete(object? sender, ScanTask task)
    {
        Console.WriteLine("ON COMPLETE");
        ScanTask = task; 
        UpdateJson();
    }

    private void UpdateJson()
    {
        Json = JsonConvert.SerializeObject(ScanTask, Formatting.Indented);
        StateHasChanged();
    }

    public void Dispose()
    {
        if (ScanTask != null)
        {
            ScanTask.OnComplete -= OnComplete;
            ScanTask.OnError -= OnError;
            Console.WriteLine($"Disposed event for {TaskId}");
        }
    }

    private void GoToReceipt(int index)
    {
        NavigationManager.NavigateTo($"/Reports/{TaskId}/{index}");
    }

}
